/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.active
{
	font-weight: bold;
}

#emergencyPanel
{
    /*display: none;*/
    clear: both;
    float: none;
    color: red;
}

#emergencyResolvedButton
{
    display: none;
}

#messageBox
{
    height: 100px;
    font-size: 20px;
    border: 5px solid #EE5757;
    border-radius: 5px;
    display: block;
    overflow: auto;
}

#leftPanel{
    float: left;
    width: 40%;
}

#rightPanel{
    float: right;
    width: 40%;
}

.chatBox
{
    min-height: 400px;
    border: 5px solid #0000ff;
    border-radius: 5px;
}

.chatMsg
{
    height: 380px;
    overflow: auto;
}

.sendChatMsg input
{
    width: 70%;
}

/*Emergency css*/
#emergencyMessageBox
{
    text-align: center;
    overflow: auto;
}

#btnEmergencyResolved
{
    margin: 0 auto;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    font-size: 50px;
    color: darkorange;
    background: rgb(255,255,255);
}